:root {
  --color-card-text: #fff;
  --color-card-label: #a8a8a8;
  --background-card-button: #000;
  --background-card-list: rgba(230, 230, 230, 0.657);
}

.card-home-container {
  margin: 50px 5%;
}

.card-home-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-home-container .card-home-list li {
  max-width: 300px;
  margin: 10px 0px;
}

.card-home-container .card-home-list img {
  width: 100%;
  max-height: 400px;
}

.card-home-container .card-home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-home-container .card-home-info h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-card-text);
  margin: 5px 0;
}

.card-home-container .card-home-info label {
  font-size: 12px;
  text-decoration: line-through;
  color: var(--color-card-label);
}

.card-home-container .card-home-info span {
  font-size: 14px;
  color: var(--color-card-text);
}

.card-home-list-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  z-index: 1;

  background-color: var(--background-card-list);
  display: none;
}

.card-home-list-buttons button {
  width: 120px;
  background-color: var(--background-card-button);
}

.card-home-list-buttons button + button {
  margin-left: 10px;
  background-color: #10b647;
}

/* .card-home-list li:hover, .card-home-list-buttons {
  display: block;
} */