:root {
  --background-header: #000;
  --color-header: #fff;
}

.header-container, .header-options, .header-icons {
  display: flex;
  align-items: center;
}

.header-container {
  height: 65px;
  padding: 0 50px;
  justify-content: space-between;
  background-color: var(--background-header);
  color: var(--color-header);
}

.header-container h3 {
  letter-spacing: 1px;
}

.header-container .header-options a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 5%;
  color: var(--color-header);
}

.header-container .header-icons span {
  margin: 0 10px;
}

.header-options-icon {
  display: none;
}

@media (max-width: 480px) {
  .header-container {
    padding: 0 20px;
  }
  .header-options {
    display: none;
  }
  .header-options-icon {
    display: block;
  }
}