.navbar-icon {
  border: 0;
  background: transparent;
  color: var(--main-color-text);
}

.navbar-container {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 1;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  transition: 1s ease-out opacity;
  font-size: 14px;
}

.navbar-container .navbar-header {
  display: flex;
  width: 100%;
  height: 65px;
  align-items: center;
  justify-content: center;
  background: rgb(10, 10, 10);
  text-transform: uppercase;
}

.navbar-container .navbar-header h3 {
  margin: 0px auto;
}

.navbar-container .navbar-categories {
  margin-top: 50px;
}

.navbar-container .navbar-categories li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  height: 50px;
}

.navbar-container .navbar-categories li a {
  text-transform: uppercase;
}

.navbar-container .navbar-categories li:hover {
  background-color: rgb(24, 24, 24);
}

.search {
  margin: 0 auto;
}

.search input {
  padding-left: 15px;
  width: 80%;
  height: 45px;
  color: var(--main-color-text);
  border: 1px solid rgb(39, 39, 39);
  background: var(--background-color);
}

.search button {
  width: 50px;
  height: 45px;
  color: #FFF;
  background: var(--background-color);
}

@media screen and (min-width: 728px) {
  .navbar-container {
    max-width: 350px;
  }
}
