@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-color-text: #FFF;
  --secondary-color-text: #000;
}

body {
  margin: 0;
  padding: 0;
  background: #141313;
  color: var(--main-color-text);
}

a {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color-text);
  text-decoration: none;
}

ul, h1, h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  margin: 0;
  border: 0;
  border-radius: 5px;
  height: 45px;

  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  
  cursor: pointer;
}

button:focus {
  box-shadow: 0;
  outline: 0;
}