.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/background-banner.jpg');
  min-height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: blink 0.5s infinite alternate;
}

.banner__title {
  font-size: calc(18px + 10vw);
  letter-spacing: 1px;
  margin: 0;
}

.banner__text {
  font-size: calc(10px + 2vw);
  letter-spacing: 1px;
  margin-bottom: 2%;
}

@keyframes blink {
  0% {
    color: rgba(255, 51, 0, 0.651);
  }
  100% {
    color: rgb(255, 60, 0);
  }
}

@media (max-width: 728px) {
  .banner {
    min-height: 60vh;
  }
} 

@media (max-width: 1000px) {
  .banner {
    min-height: 80vh;
  }
}

@media (max-width: 730px) {
  .banner {
    min-height: 65vh;
  }
}

@media (max-width: 500px) {
  .banner {
    min-height: 60vh;
  }
}